@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --accent-color: #002447;
  --text-color: #fffaf7;
  --background-color: #79c5e7;
  --card-text-color: #000;
}

html {
  height: 100%;
}

h1 {
  font-family: "Bebas Neue", "Roboto", "Helvetica", sans-serif;
  font-size: 45px;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  font-family: "Opens Sans", "Roboto", "Helvetica", sans-serif;
  color: var(--text-color)
}

#player {
  width:100%;
  height:15em;
}

header {
  flex-shrink: 0;
}

.search-results {
  margin-top: 1em;
  overflow: auto;
  height: 8em;
}

/*Cards*/
.card {
  color: var(--card-text-color);
  display: grid;
  grid-template-columns: auto 4fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Art Title Title Length""Art Artist Artist Artist";
  background-color: #fffaf7;
  border-radius: 5px;
  height: 4em;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor:pointer;
  box-shadow: 0px 0px 1px 1px #eeeeee70;
}

.song-art {
  grid-area: Art;
  height: 4em;
  width: 4em;
  margin-right: .5em;
}

.song-art img {
  height: 100%;
  padding: .5em;
}

.song-title {
  padding-left: 0.5em;
  grid-area: Title;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.song-length {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  padding-right: 1em;
  grid-area: Length;
}

.song-artist {
  padding-left: 0.5em;
  grid-area: Artist;
  margin-top: auto;
  margin-bottom: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  var(--text-color)-space: nowrap;
}

/*menu items*/
nav {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px #eeeeee6b;
  border-radius: 5px 5px 5px 5px;
  /* -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  background: linear-gradient(20deg, var(--accent-color), #bc672c); */
}

nav ul {
  list-style-type: none;
}

.box:hover {
  background-color: white;
  cursor: pointer;
}

nav .item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
  backdrop-filter: brightness(85%);
  height: 3em;
  font-size: 1.25em;
  font-weight: bold;
}

.menu li {
  padding: 1em;
}

.menu a {
  color: var(--text-color);
  text-decoration: none;
}

.menu {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1em;
  background: transparent;
  border: none
}

.menu .item:hover {
  backdrop-filter: brightness(75%);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu .toggle {
  cursor: pointer;
  order: 1;
  font-size: 1.5em;
}

/*main*/
main {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main.about {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.about p {
  margin: 0.5rem;
}

.about h1 {
  margin: 0.5rem;
}

.about h2 {
  margin: 0.5rem;
}

.about h3 {
  margin: 0.5rem;
}

.about ol {
  margin: 0.5rem;
}

.about li {
  margin: 1rem;
}

.dashboard {
  flex: 0 1 auto;
  padding: 1em;
}

.about a {
  color: white;
}

button {
  cursor: pointer;
}

.dashboard h2 {
  text-align: center;
  font-size: 12vw;
  flex: 1 0 auto;
  box-shadow: -4px 3px 8px #d6d6d685;
  margin: auto;
  max-width: 40vmax;
  background-color: #757575;
}

.dashbord-text {
  padding: 1em 0 1em 0;
  font-weight: bold;
  font-size: 1.25em;
}

.dashboard .search {
  display: flex;
  height: 2em;
  margin: 1em;
}

.search input {
  width: 100%;
  border: none;
  border-radius: 0 15px 15px 0;
  padding-left: 0.5em;
}

.search button {
  width: 2em;
  border: 0;
  border-radius: 15px 0 0 15px;
}

.close-button {
  grid-area: Length;
  border-radius: 30px 30px 30px 30px;
  color: white;
  background-color: darkred;
  width: 1.8em;
  height: 1.8em;
  margin: auto;
  font-size: x-small;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.close-button:hover {
  opacity: 0.7;
}

.dashboard .media-controls {
  width: 100%;
  text-align: center;
  flex: 1 0 auto;
  border-radius: 5px;
  padding: 0.5em;
}

.media-controls {
  background: #fffaf7;
}

.media-controls button {
  display: inline-block;
  padding: 1em;
  border-radius: 5em;
  border: none;
  margin: auto;
  background-color: #bc672c;
  color: var(--text-color);
}

.card-container {
  flex: 1 1 auto;
}

.queue-header {
  padding: 0.5em 0 0.5em 0;
  font-size: 1.5em;
}

.song-art:hover img{
  content: url("img/play-button.jpg");
  opacity: 0.8;
  height: 4em;
  width: 4em;
  margin-right: .5em;
}

.queue{
  width: 100%;
}

/*/footer*/
footer {
  background-color: var(--accent-color);
  padding: 0.4em;
  flex-shrink: 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -1px 1px #eeeeee6b;
  /* -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  background: linear-gradient(20deg, var(--accent-color), #bc672c); */
}


.btn {
  margin: 1rem;
}

p {
  margin: 1rem;
}

#play, #next {
  margin: 0.5rem;
}

.room-functions {
  display: flex;
  flex-direction: row;

}

.alert {

}

.action-btn {
  background-color: #bc672c;
  border-radius: 5em;
  margin: 0.5em;
  width: 10em;
  height: 2em;
  color: #fffaf7;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.action-btn:disabled{
  background: #666;
  color: #BBB;
}

.action-btn:hover {
  background-color:#5b3b25;
}

#room-input {
  display: none;
}


/* desktop*/
@media screen and (min-width:468px) {
  .search-results {
    height: 45vh;
    -ms-overflow-style: none;
  }

  .search-results::-webkit-scrollbar {
    display: none;
  }

  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .dashboard h2 {
    max-width: 45vw;
  }

  .dashboard {
    max-width: 50%;
  }

  nav .item {
    width: auto;
    order: 1;
    display: block;
    backdrop-filter: none;
  }

  .toggle {
    display: none;
  }

  main {
    flex-direction: row;
  }

  .dashboard {
    flex: 1 1 auto;
    /* margin: auto; */
  }
}
